* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.hero {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content h2 {
    margin-top: 15px;
    color: #38bdf8;
}

.hero-content p {
    margin: 25px 0;
    max-width: 600px;
    line-height: 1.7;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn,
.btn-outline {
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.btn {
    background: #38bdf8;
    color: black;
}

.btn-outline {
    border: 2px solid #38bdf8;
    color: white;
}